<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Web-App-Wall</span>
    <mat-form-field class="input-full-width">
        <input matInput placeholder="Qué estás buscando?" 
         (keyup)="onKey($event)" querySearch.value=''
         (keyup.back)="onKey($event)" 
         >
      </mat-form-field>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>


<app-results querySearch={{querySearch}}> </app-results>